body {
    margin: 0px;
}


span.print {
    background-color: bisque;
    border-radius: 6px;
    padding: 2px 8px;
    margin: 5px 3px;
}

h1#logo {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 200px;
    color: def;
    position: absolute;
    z-index: -100;
    right: 15px;
    top: -25px;
    user-select: none;
    margin: 0;
}

.panel-heading {
    background-color:orange;
}

#draggablePanelList .panel-heading {
    cursor: move;
}

input[type="color"] {
    padding: 3px;
}


.collapsible-title:before {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "▽";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
    float: left;
    margin-right: 5px;
}
.collapsible-title.collapsed:before {
    /* symbol for "collapsed" panels */
    content: "▷";    /* adjust as needed, taken from bootstrap.css */
}

.array-entry {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
}

#notifications {
    position: fixed;
    right: 0;
    bottom: 0;
    /* background-color: #eee; */
    max-width: 75%;
    /* border-radius: 0.25rem; */
    /* padding: 5px; */
    /* border: 1px solid black; */
}

.notif-text {
    min-width: 20em;
}

.notif-msg {
    padding: 5px;
    margin: 1rem;
    background-color: white;
    border-radius: .25rem;
    /* border: 1px solid rgba(0,0,0,.15); */
    max-height: 5rem;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    box-shadow: 1px 1px 5px 2px #5f7f8e;
}
.notif-msg:after{
    clear: both;
    content: "";
    display: block;
}

.notif-close {
    color: red;
    border: 0;
    background-color: transparent;
}

.notif-buttons {
    float: right;
}

.notif-buttons > button {
    margin: 3px;
}

