body {
    margin: 0px;
}


span.print {
    background-color: bisque;
    border-radius: 6px;
    padding: 2px 8px;
    margin: 5px 3px;
}

h1#logo {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 200px;
    color: def;
    position: absolute;
    z-index: -100;
    right: 5px;
    top: -75px;
    user-select: none;
    margin: 0;
}

.panel-heading {
    background-color:orange;
}

#draggablePanelList .panel-heading {
    cursor: move;
}

input[type="color"] {
    padding: 3px;
}


.collapsible-title:before {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "▽";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
    float: left;
    margin-right: 5px;
}
.collapsible-title.collapsed:before {
    /* symbol for "collapsed" panels */
    content: "▷";    /* adjust as needed, taken from bootstrap.css */
}

.array-entry {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
}

